beautifulsoup4==4.15.0
browser-cookie3==0.20.1
bs4==0.0.2
certifi==2026.7.22
charset-normalizer==3.5.1
idna==3.19
lz4==4.4.5
pycryptodomex==3.23.0
pywin32==312
requests==2.34.2
shadowcopy==0.0.4
soupsieve==2.9.2
typing_extensions==4.16.0
urllib3==2.7.0
WMI==1.5.1
